{% extends 'base.html.twig' %}

{% block title %}Edit Verb{% endblock %}

{% block body %}
    <h1>Edit Verb</h1>

    {{ include('verb/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('verb_index') }}">back to list</a>

    {{ include('verb/_delete_form.html.twig') }}
{% endblock %}
