{% extends 'base.html.twig' %}

{% block title %}New Verb{% endblock %}

{% block body %}
    <h1>Create new Verb</h1>

    {{ include('verb/_form.html.twig') }}

    <a href="{{ path('verb_index') }}">back to list</a>
{% endblock %}
